/**
 * Styles
 *
 * 布局模式使用flex，并且将样式内联到`react`。预处理器用
 * 了`stylus`，要优雅。
 * 
 * 文献参考
 * 1. [css layout](https://github.com/facebook/css-layout)
 * 2. [stylus](http://stylus-lang.com)
 */

@require 'css/container'
@require 'css/list'
@require 'css/link'
@require 'css/img'
@require 'css/component/button'
@require 'css/component/textarea'