/**
 * Global Reset Styles
 *
 * 全局重置样式
 *
 * 1. 所以父容器的尺寸平铺至全屏
 * 2. 字体大小设为16px，用于rem基数
 * 3. 行高置为1
 * 4. 清除body的外补
 */ 
html,
body,
main,
main > section
  width:  100%
  height: 100%

body
  margin: 0
  font-size:   16px
  line-height: 1
